@use '../../../../_assets/sass/variables'
@use '../../../../_assets/sass/mixins'
@use 'mixins_midias'

.banner
    background-color: variables.$bg-background
    padding-block: 10px
    height: 75%
    max-height: 620px

    &-wrapper
        display: flex
        flex-direction: row
        align-items: flex-start
        gap: 10%
        width: 100%
        justify-content: space-between

        &-box
            display: flex
            flex-direction: column
            justify-content: space-around
            row-gap: 20px
            margin-top: 28px
            width: 65%

            .banner-buttons
                width: 100%
                display: flex
                flex-direction: row
                flex-wrap: wrap
                gap: 12px

                .btn-line-blue
                    color: variables.$blue-color

                    .icon
                        fill: variables.$blue-color
                        
                a
                    margin-left: 0
                    width: 100%
                    display: flex
                    max-width: 220px
                    text-align: center
                    justify-content: center
                    align-items: center
                    font-weight: 600


                    .icon
                        margin-right: 4px
                        height: 1.1em
                        width: 1.1em

    &-title
        text-transform: uppercase
        letter-spacing: .8px
        white-space: nowrap
        margin:
            top: 30px
            bottom: 10px

        h1
            font-weight: 300
            font-size: 2.2rem

            span
                font-weight: 800
                font-size: 2.2rem
                display: block
        
        div.element
            font-size: 16px
            font-weight: 500
            white-space: nowrap
            color: #2b2d2e

            p
                display: inline
                position: relative
                margin-right: 5px
                letter-spacing: .8px
                text-transform: uppercase
                animation: slide 5s step-start infinite

                /*&::after 
                    content: ""
                    position: absolute
                    top: 0
                    right: 0
                    bottom: 0
                    border-left: 3px solid variables.$yellow-color
                    background-color: variables.$bg-background
                    animation: typing 5s infinite, cursor 1s infinite  

                /*&:nth-child(1)
                    animation-delay: (5s * 24 - 1)

                /*&:nth-child(1)::after 
                    animation-delay: (5s * 24 -1)
                    animation-timing-function: steps(24), step-end

                /*&:nth-child(2) 
                    animation-delay: (5s * 20 - 1)

                /*&:nth-child(2)::after 
                    animation-delay: (5s * 20 - 1)
                    animation-timing-function: steps(20), step-end

                /*&:nth-child(3) 
                    animation-delay: (5s *18 - 1)

                /*&:nth-child(3)::after 
                    animation-delay: (5s * 18 - 1)
                    animation-timing-function: steps(18), step-end 

    &-icons
        display: flex
        flow-direction: row
        align-items: center
        column-gap: 8px
        margin:
            top: 8px

        .icons
            height: 1.7rem
            width: 1.7rem
            margin-right: 8px

        svg#css
            fill: #316ac5

        svg#html
            fill: #e45604
        
        svg#js
            fill: #cfa10a

        svg#php
            fill: #431e80

        svg#angular
            fill: #a80e16

        svg#bootstrap
            fill: #710ca0

        img
            height: 1.7rem
            width: 1.7rem
            max-width: 24px
            //margin: 0 8px 

    &-photo-profile
        width: 35%
        img
            min-width: 210px
            max-width: 650px
            width: 120%
            height: 100%
            object-fit: contain



//* The typing effect */
//@keyframes cursor 
    /*from, to 
        border-color: transparent
    /*50%  
        border-color: black


//@keyframes typing 
    /*from  
        width: 100%
    /*90%, to  
        width: 0

//@keyframes slide 
    /*33.33%
        font-size: variables.$slider-font-size
        letter-spacing: 1px
    /*to
        font-size: 0
        letter-spacing: 0
    

//css media screen
@include mixins_midias.screen-small
@include mixins_midias.screen-small
@include mixins_midias.screen-media
@include mixins_midias.screen-large
@include mixins_midias.screen-extralarge


