$blue-color: #4a6090
$blue-color-hover: #3c4e77
$yellow-color: #ffc700
$yellow-color-hover: #e6b300
$gray-color: #374247
$graydrak-color: #1a1c1e
$bluedark-color: #0A192F
$bg-background: #e6e6f5
$bg-background-hover: #babac5
$bg-background-dark-primary: #3F4244
$bg-background-dark-secondary: #212427

