@use '../../../../_assets/sass/variables'
@use '../../../../_assets/sass/mixins'
@use 'mixins_midias'


footer
    padding: 20px 0
    background-color: variables.$blue-color
    width: 100%

.container
    display: flex
    flex-direction: row
    column-gap: 35px
    justify-content: space-between

    .footer-box
        width: 100%

        &:first-of-type
            display: flex
            flex-direction: column

            p
                display: block
                width: 100%
                padding-top: 5px
                font-size: 13px
                color: #FFF


//css media screen
@include mixins_midias.screen-small
@include mixins_midias.screen-small
@include mixins_midias.screen-media
@include mixins_midias.screen-large
@include mixins_midias.screen-extralarge
